<div style="text-align: center">
  <h3>Task Indicator</h3>
  <div *ngIf="activeTasks.length > 0">
    <img src="/assets/images/spinner.gif" alt="Loading...">
  </div>
  <br/>
  <div style="text-align: left">
    <ul class="list-group">
      <li *ngFor="let task of activeTasks" class="list-group-item" style="font-size: small">
        {{task.description}}<br/>
        {{task.startDate | date:'medium'}}   
         <img src="/assets/images/spinner.gif" alt="Loading..."> 
      </li>
    </ul>
  </div>
  <div *ngIf="activeTasks.length === 0">
    <p>No Active Tasks</p>
  </div>
</div>
